In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
pd.__version__

'1.4.3'

In [3]:
import numpy as np

In [4]:
np.__version__

'1.21.5'

In [5]:
df = pd.read_csv('data.csv')
len(df)

11914

In [6]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [7]:
df.Make.value_counts().nlargest(3)

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

In [8]:
df[df.Make == 'Audi'].Model.nunique()

34

In [9]:
missing_values = df.isna().sum()
len(missing_values[missing_values > 0])

5

In [10]:
engineCylinders = df['Engine Cylinders']
initialMedian = np.median(engineCylinders[engineCylinders.notna()])  
mostFrequent = engineCylinders.mode()[0]  # 4
engineCylinders.fillna(value=mostFrequent, inplace=True)
finalMedian = np.median(engineCylinders)
print(initialMedian != finalMedian)

False

In [11]:
lotus = df[df.Make == 'Lotus']
lotus = lotus[['Engine HP', 'Engine Cylinders']]
lotus = lotus.drop_duplicates()
X = lotus.to_numpy()
XTX = np.matmul(X.T, X)
XTX_inv = np.linalg.inv(XTX)
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]
w = XTX_inv.dot(X.T).dot(y)
print(w[0])  # 4.59

4.594944810094551