In [2]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as pltactivate

In [3]:
pd.__version__

'2.0.3'

In [5]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

--2024-09-29 23:17:45--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 298573 (292K) [text/plain]
Saving to: ‘laptops.csv’

laptops.csv         100%[===================>] 291.58K  1.57MB/s    in 0.2s

2024-09-29 23:17:46 (1.57 MB/s) - ‘laptops.csv’ saved [298573/298573]

In [6]:
df = pd.read_csv('laptops.csv')
len(df)

2160

In [7]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [8]:
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [9]:
len(df)

2160

In [10]:
print(df.groupby(["Brand"]).count())

                  Laptop  Status  Model  CPU  RAM  Storage  Storage type  GPU  \
Brand
Acer                 137     137    137  137  137      137           137   51
Alurin                29      29     29   29   29       29            25    0
Apple                116     116    116  116  116      116           105    9
Asus                 415     415    415  415  415      415           409  168
Deep Gaming            8       8      8    8    8        8             8    8
Dell                  84      84     84   84   84       84            84    6
Denver                 1       1      1    1    1        1             1    0
Dynabook Toshiba      19      19     19   19   19       19            19    0
Gigabyte              48      48     48   48   48       48            48   46
HP                   368     368    368  368  368      368           361   87
Innjoo                 6       6      6    6    6        6             6    0
Jetwing                1       1      1    1    1        1             1    0
LG                    32      32     32   32   32       32            32    7
Lenovo               366     366    366  366  366      366           363   74
MSI                  308     308    308  308  308      308           308  256
Medion                32      32     32   32   32       32            30   10
Microsoft             77      77     77   77   77       77            74    4
Millenium              2       2      2    2    2        2             2    2
PcCom                 24      24     24   24   24       24            22   24
Primux                 8       8      8    8    8        8             8    0
Prixton                3       3      3    3    3        3             1    0
Razer                 37      37     37   37   37       37            37   35
Realme                 1       1      1    1    1        1             1    0
Samsung               22      22     22   22   22       22            21    2
Thomson                4       4      4    4    4        4             3    0
Toshiba                1       1      1    1    1        1             1    0
Vant                  11      11     11   11   11       11            11    0

                  Screen  Touch  Final Price
Brand
Acer                 136    137          137
Alurin                29     29           29
Apple                116    116          116
Asus                 415    415          415
Deep Gaming            8      8            8
Dell                  84     84           84
Denver                 1      1            1
Dynabook Toshiba      19     19           19
Gigabyte              48     48           48
HP                   367    368          368
Innjoo                 6      6            6
Jetwing                1      1            1
LG                    32     32           32
Lenovo               364    366          366
MSI                  308    308          308
Medion                32     32           32
Microsoft             77     77           77
Millenium              2      2            2
PcCom                 24     24           24
Primux                 8      8            8
Prixton                3      3            3
Razer                 37     37           37
Realme                 1      1            1
Samsung               22     22           22
Thomson                4      4            4
Toshiba                1      1            1
Vant                  11     11           11

In [11]:
print(df.isnull().any().sum())

3

In [12]:
print(df.columns[df.isnull().any()])

Index(['Storage type', 'GPU', 'Screen'], dtype='object')

In [13]:
print(df[df['Brand'] == 'Dell']['Final Price'].max())

3936.0

In [14]:
initial_median = df['Screen'].median()
print(initial_median)

15.6

In [15]:
most_frequent_value = df['Screen'].mode()[0]
print(most_frequent_value)

15.6

In [16]:
df['Screen'].fillna(most_frequent_value, inplace=True)

In [17]:
new_median = df['Screen'].median()
print(new_median)

15.6

In [18]:
has_changed = initial_median != new_median
print(has_changed)

False

In [19]:
innjoo_laptops = df[df['Brand'] == 'Innjoo']

In [20]:
X = innjoo_laptops[['RAM', 'Storage', 'Screen']].to_numpy()

In [21]:
XTX = np.dot(X.T, X)

In [22]:
XTX_inv = np.linalg.inv(XTX)

In [23]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [24]:
w = np.dot(XTX_inv, np.dot(X.T, y))

In [25]:
print(np.sum(w))

91.29988062995636