In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
pd.__version__

'1.4.3'

In [3]:
import numpy as np

In [4]:
np.__version__

'1.21.5'

In [ ]:
df = pd.read_csv('data.csv')
len(df)

In [5]:
df.head()

11914

In [6]:
df.Make.value_counts().nlargest(3)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [7]:
df[df.Make == 'Audi'].Model.nunique()

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

In [8]:
missing_values = df.isna().sum()
len(missing_values[missing_values > 0])

34

In [9]:
cylinders = df['Engine Cylinders']
initial_median = np.median(cylinders[cylinders.notna()])  # 6
# Next, calculate the most frequent value of the same "Engine Cylinders".
most_frequent = cylinders.mode()[0]  # 4
# Use the `fillna` method to fill the missing values in "Engine Cylinders"
# with the most frequent value from the previous step.
cylinders.fillna(value=most_frequent, inplace=True)
# Now, calculate the median value of "Engine Cylinders" once again.
final_median = np.median(cylinders)
# Does the median value change after filling missing values?
print(initial_median != final_median)  # False, both medians are the same

5

In [10]:
lotus = df[df.Make == 'Lotus']
# Select only columns "Engine HP", "Engine Cylinders".
lotus = lotus[['Engine HP', 'Engine Cylinders']]
# Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
lotus = lotus.drop_duplicates()
# Get the underlying NumPy array. Let's call it X.
X = lotus.to_numpy()
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T.
# Let's call the result XTX.
XTX = np.matmul(X.T, X)
# Invert XTX.
XTX_inv = np.linalg.inv(XTX)
# Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = XTX_inv.dot(X.T).dot(y)
# What's the value of the first element of w?
print(w[0])  # 4.59

False

4.594944810094551